.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  position: relative;

  h1 {
    font-size: 3rem;
    color: rgb(255, 19, 19);
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: rgb(209, 209, 89);
    width: 60%;
    text-align: center;
  }

  input {
    padding: 1rem;
    width: 30rem;
    border: 1px solid rgb(209, 209, 89);
    border-radius: 1rem;

    background-color: lightgrey;

    font-size: 2rem;
    transform: translateX(0);

    transition: transform 0.1s ease-in-out, border 0.1s ease-in-out;
    &.wrong {
      border: 1px solid red;
      transform: translateX(1rem);
    }
  }

  .submitBtn {
    background-color: yellow;
    color: rgb(0, 0, 0);
    padding: 1rem 4rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 1111;
    margin-top: 2rem;
  }

  p {
    font-size: 10rem;
    color: rgb(255, 19, 19);
    background-color: rgb(209, 209, 89);
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 9999;

    &.countdown {
      top: 50%;
      left: 24%;
    }
  }
}
